<% provide(:title, 'Info') %>		
		
<%= render "/layouts/pagetop" %>

<table align="center" id="pages" class="taulukko" cellspacing="0" cellpadding="20">
  <tr>
    <td class="otsikko">
    	<h1>INFO</h1>
    </td>
  </tr>
  
  <tr>
  	<td>
        

<div align="center">

	<p class="highlight">Tommi Tiihonen
	<br>Maasälväntie 2 A 1
	<br>00710 Helsinki
	</p>

	<p>E-mail:
		<br><a href="mailto:tommi.tiihonen@gmail.com?subject=feedback" target="_blank">tommi.tiihonen@gmail.com</a>
	</p>
		
	<p>Puh.:
		<br><span class="highlight">040-5358532</span>
	</p>
	
	<p>Facebook:
		<br><a href="http://www.facebook.com/rockworksstudio" target="_blank">www.facebook.com/rockworksstudio</a>
	</p>

</div>

    </td>
  </tr>
  
<%= render "/layouts/textbottom" %>  
  
</table>
