<% provide(:title, 'Tervetuloa WEB-STUDIO:n kotisivuille!') %>

<%= render "/layouts/pagetop" %>

<table align="center" id="pages" class="taulukko" cellspacing="0" cellpadding="20">
  <tr>
    <td class="otsikko">
    	<h1>Tervetuloa WEB-STUDIO:n kotisivuille!</h1>
    </td>
  </tr>
  
  <tr>
  	<td>
        
    <div style="padding-top:10px; text-align: center" class="small">    
      <%=image_tag("tommi.png", alt: "Tommi Tiihonen")%>
      <p></p>
      
      <span class="highlight">
      <strong>Tommi Tiihonen</strong>
      
      <br />Web-suunnittelu / graafinen suunnittelu / videot / Facebook-promootio
      </span>
      
    </div>
    


	<div style="text-align: justify;">

	    <hr size="1" noshade />

	      <p>Tähän osoitteeseen avataan tulevaisuudessa <span class="highlight">WEB-STUDIO</span>:n websivut. Yritys ei ole vielä aktiivinen, mutta lähitulevaisuudessa.</p>
	      <p>WEB-STUDIO tulee olemaan yksi kolmesta yrityksestäni, ja on keskittynyt Web-editointiin ja sosiaaliseen mediaan.
	      	 Muut yritykseni ovat <span class="highlight">MUSIC-STUDIO</span> (musiikin miksaus) ja <span class="highlight">CREATIVE-STUDIO</span> (mediatuotanto). 
	      	 Yritysten nimet kertonevat hyvin palvelustani.</p>
	      <p>Saat kauttani tulevaisuudessa Web-sivut ja vaikka Chat-sovelluksen kotisivuillesi. Ja mikä parasta, teen Google-optimoinnin ja peruspromootion kaupan päälle.</p>
	      <p>Tutustu myös muihin palveluihini!</p>
	      <p class="small">
	      	<i>Whatever You wish I can deliver.</i>
	      </p>

	</div>

    </td>
  </tr>  		
  		
  	</td>
  </tr>
  
</table>
