<% provide(:title, 'Palvelut') %>

<%= render "/layouts/pagetop" %>

<table align="center" id="pages" class="taulukko" cellspacing="0" cellpadding="20">
  <tr>
    <td class="otsikko">
    	<h1>PALVELUT</h1>
    </td>
  </tr>
  
  <tr>
  	<td>
        

<div>

<p>Tarjoan teille seuraavia WEB-palveluja:</p>

	<ul>
		<li>WEB-sivut</li>
		<li>Oma verkkokauppa</li>
		<li>Oma keskustelupalsta</li>
		<li>Käyttäjärekisteröityminen</li>
		<li>Grafiikat / muu media</li>
		<li>Facebook-promootio (ym. Sosiaalinen Media)</li>
		<li>GOOGLE-optimointi ja -markkinointi</li>
		<li>Sivustotilastot</li>
	</ul>
	
<p>Lähetä halutessasi Tarjouspyyntölomakkeen kautta lisäkysymyksiä. INFO-sivulta löydät myös puhelinnumeroni ja sähköpostiosoitteeni.</p>

<p>Pystyn tarvittaessa tekemään sivut ilman ulkopuolista apua myös laadukkaalla Englannin kielellä.</p>

</div>

    </td>
  </tr>
  
<%= render "/layouts/textbottom" %>
  
</table>
