<div class="logo-small">
		<a href="mailto:tommi.tiihonen@gmail.com?subject=Palautetta/kysymyksiä" target="_blank" title="Lähetä sähköpostia Tommille" alt="Lähetä sähköpostia Tommille">
			<%=image_tag("logos/small/web-studio-small.png")%>
		</a>
</div>